<li id="checkout-example-dealers-step" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Preferred Dealer'" data-role="title"></div>
    <div id="checkout-step-title" class="step-content" data-role="content">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">

            <div class="field" name="example-dealers-checkout.preferred-dealer">
                <label class="label" for="preferred-dealer">
                    <span>Your Preferred Dealer</span>
                </label>
                <div class="control">
                    <select name="preferred-dealer" id="preferred-dealer" data-bind="options: dealers,
                       optionsText: 'name',
                       optionsValue: 'id',
                       value: form.preferredDealer,
                       optionsCaption: 'Pick your dealer'"></select>
                </div>
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
